<nav id="nav">
    <div id="nav_mainMenu_fondo" class="nav_mainMenu_fondo"></div>
    <div class="nav_mainMenu">
        <img id="nav_mainMenu_imgLogo" src="img/logo/logo_white.png" alt="LOGO_ISE">
        <ul id="nav_mainMenu_ul">
            <li><a href="http://" target="_blank" rel="noopener noreferrer">INICIO</a></li>
            <li><a href="http://" target="_blank" rel="noopener noreferrer">CONTACTO</a></li>
            <li><a href="http://" target="_blank" rel="noopener noreferrer">PORTAFOLIO</a></li>
            <li><a href="http://" target="_blank" rel="noopener noreferrer">SERVICIOS</a></li>
            <li><a href="http://" target="_blank" rel="noopener noreferrer">SALIDA</a></li>
        </ul>
    </div>
    <!-- Slider-->
   <div id="nav_btn_navSlider" class="nav_btn_navSlider">
        <a id="nav_btn_navSlider_back" href="#" class="back" id="back"></a>
        <a id="nav_btn_navSlider_next" href="#" class="next" id="next"></a>
    </div>
    <div class="nav_img">
        <img id="imgSlider" src="img/wallp/work.jpg" alt="NAV_IMG" >
    </div>
    <div id="text_navSlider_1" class="text_navSlider_1">
        <h1>Bienvenido</h1>
        <p>somos una empresa responsable desarrolladora de software<br>
            a la medida y al tiempo de tus necesidades<br>
            aplicado técnicas y metodologías bajo scrum.<br>
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="pulsa_aqui"></i>Hecha un vistazo a nuestro portafolio de diseños.</a>
        </p>
    </div>
    <div id="text_navSlider_2" class="text_navSlider_2">
        <h1>Especialisatas en desarrollo</h1>
        <p>brindamos solcuciones de ingenieria usando frameworks<br>
            y las ultimas tecnologías de desarrollo ágil.<br>
            <a href=""><i class="pulsa_aqui"></i>conoce más a cerca de nuestro equipo.</a>
        </p>
        <img id="img_text_navSlider_2" src="img/util/anillos.png" alt="ICO_navSlider1" srcset="">
    </div>
    <div id="text_navSlider_3" class="text_navSlider_3">
        <h2>Sistemas informáticos y de redes</h2>
        <h5 id="item" ><a href="http://" target="_blank" rel="noopener noreferrer"> Sistemas de gestión empresarial</a></h5>
        <h5 id="item1" ><a href="http://" target="_blank" rel="noopener noreferrer"> Software de control administrativo y contables</a></h5>
        <h5 id="item2" ><a href="http://" target="_blank" rel="noopener noreferrer"> mantenimiento y mejoras de sistemas</a></h5>
        <h5 id="item3" ><a href="http://" target="_blank" rel="noopener noreferrer"> Software cientificos y herramientas informáticas</a></h5>
        <h5 id="item4" ><a href="http://" target="_blank" rel="noopener noreferrer"> Control de edificios, IoT e IIoT</a></h5>
        <h5 class="pulsa_aqui"5>
            <a href="http://" target="_blank" rel="noopener noreferrer"> esto y más ... ingresa aquí</a>
            <img src="" alt="" srcset="">
        </h4>
    </div>

</nav>