<div class="root">
    <div id="title_section" class="title_section">
        <h1>TOP 5 DE PRODUCTOS MÁS SOLICITADOS</h1>
    </div>
    <div id="galeria_portfolio_web" class="galeria_portfolio_web">
        <div id="galeria_portfolio_web__item " class="galeria_portfolio_web__item ">
            <div id="icon-arrows-out" class="icon-arrows-out"></div id="icon-arrows-out">
            <img class='img_galeria_portfolio_web' id='img_galeria_portfolio_web' src='img/wallp/article.jpg' alt='IMG_PORTFILE_WEB'>
        </div>
        <div id="galeria_portfolio_web__item " class="galeria_portfolio_web__item ">
            <div id="icon-arrows-out" class="icon-arrows-out"></div>
            <img class='img_galeria_portfolio_web' id='img_galeria_portfolio_web' src='img/wallp/brooklyn.jpg' alt='IMG_PORTFILE_WEB'>
        </div id="galeria_portfolio_web__item ">
        <div id="galeria_portfolio_web__item " class="galeria_portfolio_web__item ">
            <div id="icon-arrows-out" class="icon-arrows-out"></div>
            <img class='img_galeria_portfolio_web' id='img_galeria_portfolio_web' src='img/wallp/code.jpg' alt='IMG_PORTFILE_WEB'>
        </div>
        <div id="galeria_portfolio_web__item " class="galeria_portfolio_web__item ">
            <div id="icon-arrows-out" class="icon-arrows-out"></div>
            <img class='img_galeria_portfolio_web' id='img_galeria_portfolio_web' src='img/wallp/code-text.jpg' alt='IMG_PORTFILE_WEB'>
        </div>
        <div id="galeria_portfolio_web__item " class="galeria_portfolio_web__item ">
            <div id="icon-arrows-out" class="icon-arrows-out"></div>
            <img class='img_galeria_portfolio_web' id='img_galeria_portfolio_web' src='img/wallp/desarrollo.jpg' alt='IMG_PORTFILE_WEB'>
        </div>
        <div id="galeria_portfolio_web__item " class="galeria_portfolio_web__item ">
            <div id="ver-portafolio__item" class="ver-portafolio__item"></div>
        </div>
        <div class="gallery-lightbox">
            <span class="gallery-lightbox__control icon-close"></span>
            <span class="gallery-lightbox__control icon-back"></span>
            <span class="gallery-lightbox__control icon-next"></span>
            <img src="img/wallp/article.jpg" alt="gallery-lightbox__img" srcset="" class="gallery-lightbox__img">
        </div>
    </div>
</div>